# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Clion
.idea

#Visual Studio Files
Release
Debug
x64
Messec.sdf
Messec.VC.opendb
vsprojects/**/Debug/
vsprojects/**/Release/
vsprojects/**/x64/
vsprojects/**/*.vcxproj.user
.vs